# OS Files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints

# LaTeX Auxiliary Files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
